body {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.price {
 position: absolute;
 top: 0;
 right: 0;
 display: block:
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}
.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}